@import './var.scss';




.aboutList {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: $breackpoint_1200px) {
        flex-direction: column;
    }

    li {
        &:nth-child(2) {
            margin-bottom: 6.25rem;
        }

        @media (max-width: $breackpoint_1200px) {
            &:nth-child(3) {
                order: 4;
            }

            &:nth-child(2) {
                margin-bottom: .625rem;
            }
        }
    }


}