@import './var.scss';


.certDescription {
    margin-top: 1.875rem;
    margin-bottom: 0;
    font-family: 'ElMessiri';
    font-size: 1.3125rem;
    line-height: 140%;
    color: $color-white;
    text-align: center;
}