@font-face {
    font-family: "ElMessiri";
    src: url(../../public/font/ElMessiri.woff2) format("woff2"),
      url(../../public/font/ElMessiri.woff) format("woff");
    font-weight: 700;
    font-style: normal;
  }
  
@font-face {
    font-family: "ProximaNova-Bold";
    src: url(../../public/font/ProximaNova-Bold.woff2) format("woff2"),
      url(../../public/font/ProximaNova-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
  }

@font-face {
    font-family: "ProximaNova-Light";
    src: url(../../public/font/ProximaNova-Light.woff2) format("woff2"),
      url(../../public/font/ProximaNova-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
  }
  
@font-face {
    font-family: "ProximaNova-Regular";
    src: url(../../public/font/ProximaNova-Regular.woff2) format("woff2"),
      url(../../public/font/ProximaNova-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: "ProximaNova-Semibold";
    src: url(../../public/font/ProximaNova-Semibold.woff2) format("woff2"),
      url(../../public/font/ProximaNova-Semibold.woff) format("woff");
    font-weight: 600;
    font-style: normal;
  }