$bckgrnd-color: #162831;
$color-white: #FFFFFF;
$color-button: #018ABE;
$color-aqua: #98C9DC;


$breackpoint_1746px: 109.125rem;
$breackpoint_1300px: 81.25rem;
$breackpoint_1299px: 81.1875rem;
$breackpoint_1200px: 75rem;
$breackpoint_1024px: 64rem;
$breackpoint_890px: 55.625rem;
$breackpoint_768px: 48rem;
$breackpoint_767px: 47.9375rem;
$breackpoint_600px: 37.5rem;
$breackpoint_480px: 30rem;
$breackpoint_470px: 29.375rem;
$breackpoint_420px: 26.25rem;
$breackpoint_416px: 26rem;

















